In [52]:
import pandas as pd

In [53]:
file_1 = "test_private_sample_submission_mfti.parquet"
file_2 = "test_private_sample_submission_mfti_old.parquet"

In [54]:
def convert_pred_to_int(pred_list):
    return [int(x) for x in pred_list]

In [55]:
df_1 = pd.read_parquet(file_1)
df_1['predictions'] = df_1['predictions'].apply(convert_pred_to_int)
df_1

,cookie_id,predictions
0,0018914ba3e54011b28fa715583d3354,"[138634, 190928, 209422, 153970, 117525]"
1,0035c298d8c64f368ae730a9cca9bb20,"[193331, 164588, 207156, 212325, 149024]"
2,00956458877448ec9fba87fb97443fdf,"[171332, 154356, 217683, 116900, 256132]"
3,0099387c921b41e7bae6c99dd8254b60,"[103881, 246509, 153970, 144097, 173337]"
4,009f65e8ae99413a8da94a491320580a,"[138634, 181745, 153970, 137702, 154411]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 207423, 217683, 105907, 108242]"
3082,ffbc08b528c64f22996873fc63872202,"[181745, 203404, 154411, 244077, 115977]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[230707, 240744, 115977, 207423, 237341]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[220718, 253678, 246509, 101462, 246285]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[159495, 115589, 163708, 156861, 210229]"

In [56]:
df_2 = pd.read_parquet(file_2)
df_2['predictions'] = df_2['predictions'].apply(convert_pred_to_int)
df_2

,cookie_id,predictions
0,0018914ba3e54011b28fa715583d3354,"[138634, 190928, 209422, 153970, 117525]"
1,0035c298d8c64f368ae730a9cca9bb20,"[193331, 164588, 207156, 212325, 149024]"
2,00956458877448ec9fba87fb97443fdf,"[171332, 154356, 217683, 116900, 256132]"
3,0099387c921b41e7bae6c99dd8254b60,"[103881, 246509, 153970, 144097, 173337]"
4,009f65e8ae99413a8da94a491320580a,"[138634, 181745, 153970, 137702, 154411]"
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 207423, 217683, 105907, 108242]"
3082,ffbc08b528c64f22996873fc63872202,"[181745, 203404, 154411, 244077, 115977]"
3083,ffdeaf3c34544529880aebf17c103f6c,"[230707, 240744, 115977, 207423, 237341]"
3084,ffefa79a74804ee69e6c131e0d05b948,"[220718, 253678, 246509, 101462, 246285]"
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[159495, 115589, 163708, 156861, 210229]"

In [59]:
df_common = pd.merge(df_1, df_2, on='cookie_id', sort=False)
df_common['predictions'] = df_common['predictions_x'] + df_common['predictions_y']
df_common = df_common.drop(['predictions_x','predictions_y'],axis=1)
df_common

,cookie_id,predictions
0,0018914ba3e54011b28fa715583d3354,"[138634, 190928, 209422, 153970, 117525, 13863..."
1,0035c298d8c64f368ae730a9cca9bb20,"[193331, 164588, 207156, 212325, 149024, 19333..."
2,00956458877448ec9fba87fb97443fdf,"[171332, 154356, 217683, 116900, 256132, 17133..."
3,0099387c921b41e7bae6c99dd8254b60,"[103881, 246509, 153970, 144097, 173337, 10388..."
4,009f65e8ae99413a8da94a491320580a,"[138634, 181745, 153970, 137702, 154411, 13863..."
...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 207423, 217683, 105907, 108242, 15824..."
3082,ffbc08b528c64f22996873fc63872202,"[181745, 203404, 154411, 244077, 115977, 18174..."
3083,ffdeaf3c34544529880aebf17c103f6c,"[230707, 240744, 115977, 207423, 237341, 23070..."
3084,ffefa79a74804ee69e6c131e0d05b948,"[220718, 253678, 246509, 101462, 246285, 22071..."
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[159495, 115589, 163708, 156861, 210229, 15949..."

In [60]:
def get_num_diff_ids(ids_list):
    return len(ids_list) - len(set(ids_list))-5

In [61]:
df_common['num_diff_ids'] = df_common['predictions'].apply(get_num_diff_ids)
df_common

,cookie_id,predictions,num_diff_ids
0,0018914ba3e54011b28fa715583d3354,"[138634, 190928, 209422, 153970, 117525, 13863...",0
1,0035c298d8c64f368ae730a9cca9bb20,"[193331, 164588, 207156, 212325, 149024, 19333...",0
2,00956458877448ec9fba87fb97443fdf,"[171332, 154356, 217683, 116900, 256132, 17133...",0
3,0099387c921b41e7bae6c99dd8254b60,"[103881, 246509, 153970, 144097, 173337, 10388...",0
4,009f65e8ae99413a8da94a491320580a,"[138634, 181745, 153970, 137702, 154411, 13863...",0
...,...,...,...
3081,ffadd195859444d2ade2479b0611c5c1,"[158242, 207423, 217683, 105907, 108242, 15824...",0
3082,ffbc08b528c64f22996873fc63872202,"[181745, 203404, 154411, 244077, 115977, 18174...",0
3083,ffdeaf3c34544529880aebf17c103f6c,"[230707, 240744, 115977, 207423, 237341, 23070...",0
3084,ffefa79a74804ee69e6c131e0d05b948,"[220718, 253678, 246509, 101462, 246285, 22071...",0
3085,fff0c04c0cd54c67bb5fd79ae7b1145b,"[159495, 115589, 163708, 156861, 210229, 15949...",0

In [62]:
df_common['num_diff_ids'].sum()

0